@model OBM.Models.ViewModels.TournamentViewModel
@{
    ViewBag.Title = Model.TournamentName;


    if (ViewBag.Access == true)
    {
        <div class="jumbotron" style='background-image:url("/Media/gre-ora.png")'>
            <h1 class="display-1">@Html.DisplayFor(model => model.TournamentName)</h1>
        </div>

        <div class="row">
            <div class="col-sm">
                <table align="center">
                    <tr>
                        <th>Description</th>
                        <td>@Html.DisplayFor(model => model.Description)</td>
                    </tr>
                    <tr>
                        <th>Game</th>
                        <td>@Html.DisplayFor(model => model.Game)</td>
                    </tr>
                    <tr>
                        <th>Teams</th>
                        <td>@Html.DisplayFor(model => model.IsTeams)</td>
                    </tr>
                    <tr>
                        <th>Event</th>
                        <td>@Html.ActionLink(Model.EventName.ToString(), "/Details/" + Model.EventID)</td>
                    </tr>
                    <tr>
                        <th>Challonge</th>
                        <td><a href="http://challonge.com/@Model.UrlString">link</a></td>
                    </tr>

                </table>
            </div>
            <div class="col-sm">
                <img src="~/Media/koi.gif" />
            </div>
        </div>
        <br />
        <div align="center">
            <input id="EventID" type="hidden" value="@Model.EventID" />
            <input id="TournamentID" type="hidden" value="@Model.TournamentID" />
            <button type="button" onclick="hideShow('MinimalGraph');">Show Time Line</button>
            <div id="MinimalGraph" style="display:block">
                <canvas id="myChart"></canvas>
            </div>

            <table class="table table-bordered table-striped">
                <tr>
                    <th>Brackets</th>
                </tr>

            </table>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Competitors</th>
                </tr>
            </table>
        </div>

        using (Html.BeginForm(FormMethod.Post))
        {
            <div class="form-group">
                <input id="delete-tournament" type="submit" value="Delete Tournament" class="btn btn-default" />
            </div>
        }
    }
    else
    {
        <div class="form-horizontal">
            <h4>Access Denied</h4>
        </div>
    }
}


@Scripts.Render("~/bundles/TournamentDisplay")